<configuration>
  <system.webServer>
    <autoHeal>
      <rules>
        <rule name="Auto heal on memory threshold" active="true">
          <trigger>
            <memory>50000000</memory>
          </trigger>
          <action type="Recycle" />
        </rule>
      </rules>
    </autoHeal>
  </system.webServer>
</configuration>
